:root {
  --color-white: #fff;
  --color-blue: #001E64;
  --color-gray: #C4C4C4;
  --color-black: #232222;

  --font-sans: 'Roboto', sans-serif;
  --font-serif: 'Roboto Slab', serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-black);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

/*======== SLICK SLIDER ========*/

.slick-prev,
.slick-next {
  position: absolute;
  left: 40px;

  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slick-prev {
  top: 0;
}

.slick-next {
  bottom: 0;
}

.slick-dots {
  position: absolute;
  top: 58px;
  left: 35px;
  bottom: 55px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  list-style: none;
}

.slick-dots button {
  padding: 0;
  border: none;

  font-size: 24px;
  line-height: 28px;

  color: var(--color-white);
  background-color: transparent;
  opacity: .5;

  cursor: pointer;
  transition: .25s ease-in-out;
}

.slick-dots button::before { /* add zero before navigation number */
  content: "0";
}

.slick-dots li:nth-child(n + 10) button::before { /* remove zero navigation number if bigger then 10 */
  content: "";
}

.slick-dots button:hover,
.slick-active button {
  opacity: 1;
}


.product-prev {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.product-prev,
.product-next {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/*======== HEADER ========*/

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.logo {
  margin-left: 16px;
}

.logo__img {}

.menu {
  margin-top: 15px;
}

.menu__list {
  display: flex;
}

.menu__item + .menu__item {
  margin-left: 30px;
}

.menu__link {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-blue);
  border-bottom: 2px solid transparent;
  transition: .5s ease;
}

.menu__link:hover {
  border-bottom: 2px solid var(--color-blue);
}

.phone {
  margin-top: 11px;
  margin-right: 43px;
}

.phone__img {}

.header__content {
  min-height: calc(100vh - 50px);
  padding-bottom: 20px;
  margin-top: -100px;

  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.header__title {
  max-width: 589px;
  padding-top: 170px;
  padding-left: 112px;
  margin-bottom: 60px;

  font-family: var(--font-serif);
  font-weight: 700;
  font-size: 72px;
  line-height: 95px;

  color: var(--color-blue);
}

.header-slider {
  max-width: 522px;
  padding-left: 112px;
  padding-top: 57px;
  padding-bottom: 135px;
}

.header-slider__item {
}

.header-slider__text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-white);
}

.header__content-btn {
  position: absolute;

  display: inline-block;
  padding: 14px 88px;
  margin-left: 112px;
  transform: translateY(-100px);

  border-radius: 20px;

  font-family: var(--font-serif);
  font-weight: 700;
  font-size: 23px;
  line-height: 32px;
  color: var(--color-white);
  background-color: rgba(255, 255, 255, .5);
  transition: .5s ease-out;
}

.header__content-btn:hover {
  background-color: var(--color-white);
  color: var(--color-blue);
}

.header__content-box {
  display: flex;
  justify-content: end;
  /*margin-left: 100%;*/
  /*margin-right: 30px;*/
  font-size: 18px;
  line-height: 21px;
  color: var(--color-white);
}

.header__content-link {
}

.header__content-link--active {
  font-weight: 700;
}


/*======== PRODUCT ========*/

.main {
}

.product {
  padding-top: 100px;
}

.product__inner {
  display: flex;
  justify-content: space-between;
}

.product__name {
  width: 510px;
  padding-top: 41px;
  text-align: center;
}

.product__name-item + .product__name-item {
  margin-top: 30px;
}
.product__name-item {
  font-family: var(--font-serif);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  cursor: pointer;
  transition: .25s ease-in;
}
.product__name-item.slick-current,
.product__name-item:hover {
  font-weight: 700;
  font-size: 36px;
  color: var(--color-blue);
}

.product__content {
  width: 600px;
}

.product__content-element {
}

.product__content-box {
  display: flex;
  justify-content: space-between;
}

.product__content-img {
  object-fit: cover;
}

.product__content-list {
  width: 291px;
  list-style: none;
}

.product__content-item {
  margin-bottom: 30px;
}

.product__content-item span {
  display: block;
  margin-bottom: 10px;
  color: var(--color-blue);
}

.product__content-title {
  margin-bottom: 20px;
  padding-top: 20px;

  font-family: var(--font-serif);
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-blue);
}

.product__content-text {
  margin-bottom: 25px;
}

.product__content-btn {
  display: inline-block;
  padding: 12px 85px;

  border: 2px solid var(--color-blue);
  border-radius: 20px;
  background-color: transparent;

  font-family: var(--font-serif);
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: var(--color-blue);

  transition: .5s ease-in-out;
  cursor: pointer;
}

.product__content-btn:hover {
  color: var(--color-white);
  background-color: var(--color-blue);
}

/*======== SEAFOOD-BOX ========*/

.seafood-box {
  padding: 290px 0 95px;

  background-image: url("../images/seafood-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  font-family: var(--font-serif);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-white);
}

.seafood-box__items {
  display: flex;
  justify-content: space-around;
}

.seafood-box__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 180px;
  min-height: 165px;

  background-image: url("../images/shell.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*======== SEAFOOD ========*/

.seafood {
  padding: 100px 0;
}

.seafood__items {
  margin-bottom: 100px;
}

.seafood__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.seafood__item-content {

}

.seafood__item-title {
  max-width: 490px;
  margin-bottom: 30px;

  font-family: var(--font-serif);
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-blue);
}

.seafood__item-text {
  max-width: 420px;
  margin-bottom: 20px;
}

.seafood__item--text-right .seafood__item-title {
  max-width: 420px;
}

.seafood__item--text-right .seafood__item-content {
  margin-right: 180px;
}

.seafood__item-img {
}

.seafood__quote {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.seafood__quote-img {
}

.seafood__quote-text {
  max-width: 696px;
  margin: 0 auto;
  font-size: 18px;
}




